$c_brand: #fb4455;
$c_nav: #3a414e;
$input-focus: #2d7cff;
$input-color: #5a5a5a;
$btn-bgcolor: #de6262;
$c_link_blue: #0084ed;

$color-txt: #5a5a5a;
$color-bd: #d9d9d9;
$c-green: #17b67f;
$bg-grey: #f1f1f1;
$txt-grey: #b4b4b4;
$btn-blue-bc: #4cae4c;
$btn-blue-bgc: #29bd8b;
$btn-hover-blue-bc: #398439;
$btn-hover-blue-bgc: #00ab7b;

/**
审批、差旅、报销 基础色
@author wj
@createTime: 2017-09-05
*/

$blue-color: #4080dd;
$sortTableHeaderBgCor: #f1f1f1;
$gridTrEvenBgCor: #f9f9f9!default;
$gridTrHoverBgCor: #f1f1f1!default;
$boxRhtSelCor: #29bd8b!default;
$boxDelBgCor: #f5f5f5!default;
$bgAtvCor: #f1f1f1!default;